Tugas 1: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [3]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

Tugas 2: Insert, Update, dan Delete data pada koleksi employees.

In [19]:
collection.delete_many({})

# Menambah (insert) data
employee_list = [
    # IT Department
    {'name': 'Ahmad', 'department': 'IT', 'age': 25, 'salary': 4200},
    {'name': 'Eka', 'department': 'IT', 'age': 24, 'salary': 4000},
    {'name': 'John', 'department': 'IT', 'age': 29, 'salary': 4800},
    {'name': 'Chen Yu', 'department': 'IT', 'age': 30, 'salary': 5000},
    {'name': 'Lina', 'department': 'IT', 'age': 27, 'salary': 4700},
    {'name': 'Rudi', 'department': 'IT', 'age': 32, 'salary': 5200},

    # Finance Department
    {'name': 'Budi', 'department': 'Finance', 'age': 30, 'salary': 5000},
    {'name': 'Han', 'department': 'Finance', 'age': 35, 'salary': 6000},
    {'name': 'Alice', 'department': 'Finance', 'age': 27, 'salary': 4600},
    {'name': 'Olivia', 'department': 'Finance', 'age': 28, 'salary': 4700},
    {'name': 'Dimas', 'department': 'Finance', 'age': 33, 'salary': 5500},
    {'name': 'Vera', 'department': 'Finance', 'age': 26, 'salary': 4800},

    # Marketing Department
    {'name': 'Citra', 'department': 'Marketing', 'age': 27, 'salary': 4600},
    {'name': 'Li Mei', 'department': 'Marketing', 'age': 28, 'salary': 4700},
    {'name': 'Robert', 'department': 'Marketing', 'age': 32, 'salary': 5100},
    {'name': 'Nina', 'department': 'Marketing', 'age': 29, 'salary': 4800},
    {'name': 'Hendra', 'department': 'Marketing', 'age': 31, 'salary': 5300},
    {'name': 'Sarah', 'department': 'Marketing', 'age': 26, 'salary': 4450},

    # HR Department
    {'name': 'Dewi', 'department': 'HR', 'age': 29, 'salary': 4700},
    {'name': 'Zhang Wei', 'department': 'HR', 'age': 33, 'salary': 5200},
    {'name': 'James', 'department': 'HR', 'age': 31, 'salary': 4950},
    {'name': 'Hanif', 'department': 'HR', 'age': 25, 'salary': 5500},
    {'name': 'Ayu', 'department': 'HR', 'age': 27, 'salary': 4600},
    {'name': 'Kevin', 'department': 'HR', 'age': 30, 'salary': 4800},

    # Sales Department
    {'name': 'Fajar', 'department': 'Sales', 'age': 31, 'salary': 4900},
    {'name': 'William', 'department': 'Sales', 'age': 34, 'salary': 5300},
    {'name': 'Wang Li', 'department': 'Sales', 'age': 33, 'salary': 5200},
    {'name': 'Rina', 'department': 'Sales', 'age': 28, 'salary': 4800},
    {'name': 'Bagus', 'department': 'Sales', 'age': 29, 'salary': 4600},
    {'name': 'Lukman', 'department': 'Sales', 'age': 35, 'salary': 5500},

    # Design Department
    {'name': 'Gilang', 'department': 'Design', 'age': 26, 'salary': 4500},
    {'name': 'Emma', 'department': 'Design', 'age': 25, 'salary': 4400},
    {'name': 'Liu Fang', 'department': 'Design', 'age': 26, 'salary': 4500},
    {'name': 'Raisa', 'department': 'Design', 'age': 28, 'salary': 4700},
    {'name': 'Farhan', 'department': 'Design', 'age': 29, 'salary': 4800},
    {'name': 'Tara', 'department': 'Design', 'age': 30, 'salary': 4900}
]

collection.insert_many(employee_list)
print('Data berhasil dimasukkan')

# Update data
collection.update_one(
    {'name': 'Dewi'},                 # Filter data
    {'$set': {'salary': 4800}}        # Data yang akan diubah
)
print("Data 'Dewi' berhasil diperbarui")

# Menghapus (delete) data
collection.delete_one({'name': 'James'})
print("Data 'James' berhasil dihapus")

# Menampilkan output
print("\nData karyawan:")
for emp in collection.find():
    print(emp)

Data berhasil dimasukkan
Data 'Dewi' berhasil diperbarui
Data 'James' berhasil dihapus

Data karyawan:
{'_id': ObjectId('69033c738bf46d9bfbe4691e'), 'name': 'Ahmad', 'department': 'IT', 'age': 25, 'salary': 4200}
{'_id': ObjectId('69033c738bf46d9bfbe4691f'), 'name': 'Eka', 'department': 'IT', 'age': 24, 'salary': 4000}
{'_id': ObjectId('69033c738bf46d9bfbe46920'), 'name': 'John', 'department': 'IT', 'age': 29, 'salary': 4800}
{'_id': ObjectId('69033c738bf46d9bfbe46921'), 'name': 'Chen Yu', 'department': 'IT', 'age': 30, 'salary': 5000}
{'_id': ObjectId('69033c738bf46d9bfbe46922'), 'name': 'Lina', 'department': 'IT', 'age': 27, 'salary': 4700}
{'_id': ObjectId('69033c738bf46d9bfbe46923'), 'name': 'Rudi', 'department': 'IT', 'age': 32, 'salary': 5200}
{'_id': ObjectId('69033c738bf46d9bfbe46924'), 'name': 'Budi', 'department': 'Finance', 'age': 30, 'salary': 5000}
{'_id': ObjectId('69033c738bf46d9bfbe46925'), 'name': 'Han', 'department': 'Finance', 'age': 35, 'salary': 6000}
{'_id': ObjectId('69033c738bf46d9bfbe46926'), 'name': 'Alice', 'department': 'Finance', 'age': 27, 'salary': 4600}
{'_id': ObjectId('69033c738bf46d9bfbe46927'), 'name': 'Olivia', 'department': 'Finance', 'age': 28, 'salary': 4700}
{'_id': ObjectId('69033c738bf46d9bfbe46928'), 'name': 'Dimas', 'department': 'Finance', 'age': 33, 'salary': 5500}
{'_id': ObjectId('69033c738bf46d9bfbe46929'), 'name': 'Vera', 'department': 'Finance', 'age': 26, 'salary': 4800}
{'_id': ObjectId('69033c738bf46d9bfbe4692a'), 'name': 'Citra', 'department': 'Marketing', 'age': 27, 'salary': 4600}
{'_id': ObjectId('69033c738bf46d9bfbe4692b'), 'name': 'Li Mei', 'department': 'Marketing', 'age': 28, 'salary': 4700}
{'_id': ObjectId('69033c738bf46d9bfbe4692c'), 'name': 'Robert', 'department': 'Marketing', 'age': 32, 'salary': 5100}
{'_id': ObjectId('69033c738bf46d9bfbe4692d'), 'name': 'Nina', 'department': 'Marketing', 'age': 29, 'salary': 4800}
{'_id': ObjectId('69033c738bf46d9bfbe4692e'), 'name': 'Hendra', 'department': 'Marketing', 'age': 31, 'salary': 5300}
{'_id': ObjectId('69033c738bf46d9bfbe4692f'), 'name': 'Sarah', 'department': 'Marketing', 'age': 26, 'salary': 4450}
{'_id': ObjectId('69033c738bf46d9bfbe46930'), 'name': 'Dewi', 'department': 'HR', 'age': 29, 'salary': 4800}
{'_id': ObjectId('69033c738bf46d9bfbe46931'), 'name': 'Zhang Wei', 'department': 'HR', 'age': 33, 'salary': 5200}
{'_id': ObjectId('69033c738bf46d9bfbe46933'), 'name': 'Hanif', 'department': 'HR', 'age': 25, 'salary': 5500}
{'_id': ObjectId('69033c738bf46d9bfbe46934'), 'name': 'Ayu', 'department': 'HR', 'age': 27, 'salary': 4600}
{'_id': ObjectId('69033c738bf46d9bfbe46935'), 'name': 'Kevin', 'department': 'HR', 'age': 30, 'salary': 4800}
{'_id': ObjectId('69033c738bf46d9bfbe46936'), 'name': 'Fajar', 'department': 'Sales', 'age': 31, 'salary': 4900}
{'_id': ObjectId('69033c738bf46d9bfbe46937'), 'name': 'William', 'department': 'Sales', 'age': 34, 'salary': 5300}
{'_id': ObjectId('69033c738bf46d9bfbe46938'), 'name': 'Wang Li', 'department': 'Sales', 'age': 33, 'salary': 5200}
{'_id': ObjectId('69033c738bf46d9bfbe46939'), 'name': 'Rina', 'department': 'Sales', 'age': 28, 'salary': 4800}
{'_id': ObjectId('69033c738bf46d9bfbe4693a'), 'name': 'Bagus', 'department': 'Sales', 'age': 29, 'salary': 4600}
{'_id': ObjectId('69033c738bf46d9bfbe4693b'), 'name': 'Lukman', 'department': 'Sales', 'age': 35, 'salary': 5500}
{'_id': ObjectId('69033c738bf46d9bfbe4693c'), 'name': 'Gilang', 'department': 'Design', 'age': 26, 'salary': 4500}
{'_id': ObjectId('69033c738bf46d9bfbe4693d'), 'name': 'Emma', 'department': 'Design', 'age': 25, 'salary': 4400}
{'_id': ObjectId('69033c738bf46d9bfbe4693e'), 'name': 'Liu Fang', 'department': 'Design', 'age': 26, 'salary': 4500}
{'_id': ObjectId('69033c738bf46d9bfbe4693f'), 'name': 'Raisa', 'department': 'Design', 'age': 28, 'salary': 4700}
{'_id': ObjectId('69033c738bf46d9bfbe46940'), 'name': 'Farhan', 'department': 'Design', 'age': 29, 'salary': 4800}
{'_id': ObjectId('69033c738bf46d9bfbe46941'), 'name': 'Tara', 'department': 'Design', 'age': 30, 'salary': 4900}

In [ ]:
Tugas 3: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [5]:
# Rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}},
    {'$sort': {'_id': 1}}  # agar hasil rapi terurut
]

print('\nRata-rata gaji per departemen:')
for result in collection.aggregate(pipeline):
    print(f"{result['_id']}: {result['average_salary']:.2f}")

Rata-rata gaji per departemen:
Design: 4466.67
Finance: 5075.00
HR: 5166.67
IT: 4500.00
Marketing: 4800.00
Sales: 5133.33

In [ ]:
Latihan 4.1: Buatlah koleksi baru products dan masukkan data produk (minimal 10 produk).

In [7]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']  
products = db['products']   # koleksi baru: products

print('Connected to MongoDB')

# Data produkLatihan 4.1: Buatlah koleksi baru products dan masukkan data produk (minimal 10 produk).
product_list = [
    {'product_id': 1, 'name': 'Laptop X200', 'category': 'Electronics', 'price': 12000000, 'stock': 15},
    {'product_id': 2, 'name': 'Smartphone A55', 'category': 'Electronics', 'price': 4500000, 'stock': 30},
    {'product_id': 3, 'name': 'Headphone Sonic', 'category': 'Accessories', 'price': 750000, 'stock': 50},
    {'product_id': 4, 'name': 'Keyboard Pro', 'category': 'Accessories', 'price': 550000, 'stock': 40},
    {'product_id': 5, 'name': 'Mouse Ultra', 'category': 'Accessories', 'price': 300000, 'stock': 60},
    {'product_id': 6, 'name': 'Monitor Vision 24"', 'category': 'Electronics', 'price': 2100000, 'stock': 25},
    {'product_id': 7, 'name': 'Flashdisk 64GB', 'category': 'Storage', 'price': 120000, 'stock': 100},
    {'product_id': 8, 'name': 'SSD 1TB', 'category': 'Storage', 'price': 1500000, 'stock': 20},
    {'product_id': 9, 'name': 'Printer Jet 3000', 'category': 'Office', 'price': 1800000, 'stock': 10},
    {'product_id': 10, 'name': 'Chair Comfort', 'category': 'Furniture', 'price': 900000, 'stock': 12}
]

# Masukkan data ke koleksi
products.insert_many(product_list)
print('Data produk berhasil dimasukkan ke koleksi "products"')

# Tampilkan semua produk
for p in products.find():
    print(p)

Connected to MongoDB
Data produk berhasil dimasukkan ke koleksi "products"
{'_id': ObjectId('69033a178bf46d9bfbe468d2'), 'product_id': 1, 'name': 'Laptop X200', 'category': 'Electronics', 'price': 12000000, 'stock': 15}
{'_id': ObjectId('69033a178bf46d9bfbe468d3'), 'product_id': 2, 'name': 'Smartphone A55', 'category': 'Electronics', 'price': 4500000, 'stock': 30}
{'_id': ObjectId('69033a178bf46d9bfbe468d4'), 'product_id': 3, 'name': 'Headphone Sonic', 'category': 'Accessories', 'price': 750000, 'stock': 50}
{'_id': ObjectId('69033a178bf46d9bfbe468d5'), 'product_id': 4, 'name': 'Keyboard Pro', 'category': 'Accessories', 'price': 550000, 'stock': 40}
{'_id': ObjectId('69033a178bf46d9bfbe468d6'), 'product_id': 5, 'name': 'Mouse Ultra', 'category': 'Accessories', 'price': 300000, 'stock': 60}
{'_id': ObjectId('69033a178bf46d9bfbe468d7'), 'product_id': 6, 'name': 'Monitor Vision 24"', 'category': 'Electronics', 'price': 2100000, 'stock': 25}
{'_id': ObjectId('69033a178bf46d9bfbe468d8'), 'product_id': 7, 'name': 'Flashdisk 64GB', 'category': 'Storage', 'price': 120000, 'stock': 100}
{'_id': ObjectId('69033a178bf46d9bfbe468d9'), 'product_id': 8, 'name': 'SSD 1TB', 'category': 'Storage', 'price': 1500000, 'stock': 20}
{'_id': ObjectId('69033a178bf46d9bfbe468da'), 'product_id': 9, 'name': 'Printer Jet 3000', 'category': 'Office', 'price': 1800000, 'stock': 10}
{'_id': ObjectId('69033a178bf46d9bfbe468db'), 'product_id': 10, 'name': 'Chair Comfort', 'category': 'Furniture', 'price': 900000, 'stock': 12}

In [ ]:
Latihan 4.2: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.

In [8]:
# Hitung rata-rata harga semua produk
pipeline_avg = [
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
]

average_price_result = list(products.aggregate(pipeline_avg))
average_price = average_price_result[0]['average_price']
print(f"\nRata-rata harga semua produk: Rp {average_price:,.2f}")

# Cari produk dengan harga di atas rata-rata
pipeline_above_avg = [
    {'$match': {'price': {'$gt': average_price}}},
    {'$project': {'_id': 0, 'name': 1, 'category': 1, 'price': 1}}
]

print("\nProduk dengan harga di atas rata-rata:")
for product in products.aggregate(pipeline_above_avg):
    print(f"- {product['name']} ({product['category']}): Rp {product['price']:,.0f}")

Rata-rata harga semua produk: Rp 2,452,000.00

Produk dengan harga di atas rata-rata:
- Laptop X200 (Electronics): Rp 12,000,000
- Smartphone A55 (Electronics): Rp 4,500,000

In [ ]:
Latihan 4.3: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [10]:
# Total produk per kategori
pipeline = [
    {
        '$group': {
            '_id': '$category', # kelompokkan berdasarkan kategori
            'total_products': {'$sum': 1} # hitung jumlah produk
        }
    },
    {
        '$sort': {'_id': 1} # urutkan hasil berdasarkan nama kategori
    }
]

print("\nTotal produk per kategori:")
for result in products.aggregate(pipeline):
    print(f"- {result['_id']}: {result['total_products']} produk")

Total produk per kategori:
- Accessories: 3 produk
- Electronics: 3 produk
- Furniture: 1 produk
- Office: 1 produk
- Storage: 2 produk

In [ ]:
Tugas 1: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.

In [20]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# 5 karyawan dengan gaji tertinggi di setiap departemen
pipeline = [
    {'$sort': {'department': 1, 'salary': -1}},  # Urutkan per departemen dan gaji tertinggi
    {
        '$group': {
            '_id': '$department',
            'top_employees': {
                '$push': {
                    'name': '$name',
                    'salary': '$salary'
                }
            }
        }
    },
    {
        '$project': {
            '_id': 1,
            'top_5': {'$slice': ['$top_employees', 5]}  # 5 teratas
        }
    },
    {'$sort': {'_id': 1}}  
]

print("\n5 Karyawan dengan gaji tertinggi per departemen:")
for result in collection.aggregate(pipeline):
    print(f"\nDepartemen: {result['_id']}")
    for emp in result['top_5']:
        print(f"- {emp['name']}: Rp {emp['salary']:,}")

5 Karyawan dengan gaji tertinggi per departemen:

Departemen: Design
- Tara: Rp 4,900
- Farhan: Rp 4,800
- Raisa: Rp 4,700
- Gilang: Rp 4,500
- Liu Fang: Rp 4,500

Departemen: Finance
- Han: Rp 6,000
- Dimas: Rp 5,500
- Budi: Rp 5,000
- Vera: Rp 4,800
- Olivia: Rp 4,700

Departemen: HR
- Hanif: Rp 5,500
- Zhang Wei: Rp 5,200
- Dewi: Rp 4,800
- Kevin: Rp 4,800
- Ayu: Rp 4,600

Departemen: IT
- Rudi: Rp 5,200
- Chen Yu: Rp 5,000
- John: Rp 4,800
- Lina: Rp 4,700
- Ahmad: Rp 4,200

Departemen: Marketing
- Hendra: Rp 5,300
- Robert: Rp 5,100
- Nina: Rp 4,800
- Li Mei: Rp 4,700
- Citra: Rp 4,600

Departemen: Sales
- Lukman: Rp 5,500
- William: Rp 5,300
- Wang Li: Rp 5,200
- Fajar: Rp 4,900
- Rina: Rp 4,800

In [ ]:
Tugas 2: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.

In [21]:
# Hapus karyawan yang berusia di bawah 25 tahun
result = collection.delete_many({'age': {'$lt': 25}})

print(f"{result.deleted_count} karyawan dihapus (usia di bawah 25 tahun).")

# Tampilkan data
for emp in collection.find({}, {'_id': 0, 'name': 1, 'age': 1, 'department': 1}):
    print(emp)

1 karyawan dihapus (usia di bawah 25 tahun).
{'name': 'Ahmad', 'department': 'IT', 'age': 25}
{'name': 'John', 'department': 'IT', 'age': 29}
{'name': 'Chen Yu', 'department': 'IT', 'age': 30}
{'name': 'Lina', 'department': 'IT', 'age': 27}
{'name': 'Rudi', 'department': 'IT', 'age': 32}
{'name': 'Budi', 'department': 'Finance', 'age': 30}
{'name': 'Han', 'department': 'Finance', 'age': 35}
{'name': 'Alice', 'department': 'Finance', 'age': 27}
{'name': 'Olivia', 'department': 'Finance', 'age': 28}
{'name': 'Dimas', 'department': 'Finance', 'age': 33}
{'name': 'Vera', 'department': 'Finance', 'age': 26}
{'name': 'Citra', 'department': 'Marketing', 'age': 27}
{'name': 'Li Mei', 'department': 'Marketing', 'age': 28}
{'name': 'Robert', 'department': 'Marketing', 'age': 32}
{'name': 'Nina', 'department': 'Marketing', 'age': 29}
{'name': 'Hendra', 'department': 'Marketing', 'age': 31}
{'name': 'Sarah', 'department': 'Marketing', 'age': 26}
{'name': 'Dewi', 'department': 'HR', 'age': 29}
{'name': 'Zhang Wei', 'department': 'HR', 'age': 33}
{'name': 'Hanif', 'department': 'HR', 'age': 25}
{'name': 'Ayu', 'department': 'HR', 'age': 27}
{'name': 'Kevin', 'department': 'HR', 'age': 30}
{'name': 'Fajar', 'department': 'Sales', 'age': 31}
{'name': 'William', 'department': 'Sales', 'age': 34}
{'name': 'Wang Li', 'department': 'Sales', 'age': 33}
{'name': 'Rina', 'department': 'Sales', 'age': 28}
{'name': 'Bagus', 'department': 'Sales', 'age': 29}
{'name': 'Lukman', 'department': 'Sales', 'age': 35}
{'name': 'Gilang', 'department': 'Design', 'age': 26}
{'name': 'Emma', 'department': 'Design', 'age': 25}
{'name': 'Liu Fang', 'department': 'Design', 'age': 26}
{'name': 'Raisa', 'department': 'Design', 'age': 28}
{'name': 'Farhan', 'department': 'Design', 'age': 29}
{'name': 'Tara', 'department': 'Design', 'age': 30}

In [ ]:
Tugas 3: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [22]:
# Menghitung total gaji dan rata-rata umur per departemen
pipeline = [
    {
        '$group': {
            '_id': '$department',
            'total_salary': {'$sum': '$salary'},
            'average_age': {'$avg': '$age'}
        }
    },
    {
        '$sort': {'_id': 1}  # Mengurutkan hasil berdasarkan nama departemen
    }
]

# Tampilkan hasil
print("Laporan Total Gaji dan Rata-rata Umur per Departemen:\n")
for result in collection.aggregate(pipeline):
    print(f"Departemen: {result['_id']}")
    print(f"  Total Gaji   : {result['total_salary']}")
    print(f"  Rata-rata Umur: {round(result['average_age'], 2)} tahun")
    print("-" * 40)

Laporan Total Gaji dan Rata-rata Umur per Departemen:

Departemen: Design
  Total Gaji   : 27800
  Rata-rata Umur: 27.33 tahun
----------------------------------------
Departemen: Finance
  Total Gaji   : 30600
  Rata-rata Umur: 29.83 tahun
----------------------------------------
Departemen: HR
  Total Gaji   : 24900
  Rata-rata Umur: 28.8 tahun
----------------------------------------
Departemen: IT
  Total Gaji   : 23900
  Rata-rata Umur: 28.6 tahun
----------------------------------------
Departemen: Marketing
  Total Gaji   : 28950
  Rata-rata Umur: 28.83 tahun
----------------------------------------
Departemen: Sales
  Total Gaji   : 30300
  Rata-rata Umur: 31.67 tahun
----------------------------------------